<!DOCTYPE html>
<html>
<head>
    <title>AI Fake News Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>📰 AI Fake News Detection</h1>

    <form method="POST">

        <textarea
            name="news"
            rows="8"
            placeholder="Paste the news article here..."
            required></textarea>

        <br><br>

        <button type="submit">Check News</button>

    </form>

    {% if prediction %}

    <h2>Prediction:</h2>

    {% if prediction == "REAL" %}
        <h2 style="color:green;">✅ REAL NEWS</h2>
    {% else %}
        <h2 style="color:red;">❌ FAKE NEWS</h2>
    {% endif %}

    {% endif %}

</div>

</body>
</html>