body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    background:white;
    width:500px;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,.2);
    text-align:center;
}

input{
    margin:20px;
}

button{
    background:#007BFF;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

.result{
    text-align:left;
    margin-top:25px;
}

ul{
    padding-left:20px;
}