<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Screening System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>AI Resume Screening System</h1>

    <form method="POST" enctype="multipart/form-data">

        <input type="file" name="resume" accept=".pdf" required>

        <button type="submit">Analyze Resume</button>

    </form>

    {% if score is not none %}

        <div class="result">

            <h2>Resume Score: {{ score }}%</h2>

            <h3>Matched Skills</h3>

            <ul>
            {% for skill in matched %}
                <li>{{ skill }}</li>
            {% endfor %}
            </ul>

            <h3>Missing Skills</h3>

            <ul>
            {% for skill in missing %}
                <li>{{ skill }}</li>
            {% endfor %}
            </ul>

        </div>

    {% endif %}

</div>

</body>
</html>